body {
    font-family: sans-serif;
    background-color: white;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

/*
La sintaxis 'element.class' SIN espacio entre ellos asigna reglas al elemento que contiene esa clase.
  <a class="active"><a/>

Si fuera separado por espacio en blanco, estaríamos hablando de 'element (padre) .active', lo que
aplicaría sólo si .active estuviese en un elemento hijo de <a />
  <a>
    <p class="active"><p/>
  <a/>
*/
a.active {
 color: #521751;
}

/*
Se puede usar el operador :not() para seleccionar opuestos
*/
a:not(.active) {
  color: blue; 
}

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted {
    border: 2px solid #fa923f;
}
